main section {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "a b"
        "a c"
        ;
}
    section img {
        grid-area: a;
    }

    section h3 {
        grid-area: b;
    }

    section p {
        grid-area: c;
    }